---
---

@import "{{ site.theme }}";

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #fffcf6;
    padding: 10px 10px;
    border: 2px solid #a2c4c9;

}

body {
    background-color: #fffcf6;
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400
}
