---
---

@import "{{ site.theme }}";

body {
    background-color: #fffcf6;
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400
} 

a {
    color: #a2c4c9;
    font-weight: 800;
    text-decoration: none
}

a:hover,a:focus {
    color: #f1bdc5;
    font-weight: 800;
    text-decoration: none
}
